<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="assignment.wallethub.Listeners" />
	</listeners>
	<test name="Facebook login">
		<classes>
			<class name="assignment.wallethub.FacebookloginTest" />
		</classes>
	</test>
	<test name="Wallethubreview">
		<classes>
			<class name="assignment.wallethub.WallethubReviewTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
